.btn-group {
  margin-left: 10px;
  }
.table {
  border-radius: 6px; 
  overflow: hidden; 
}
#div2{
  margin-left: 100vh;
  margin-top:5vh;
}
#inp1{
  height:35px;
}
#inp2{
  height:37px;
}
#tab1{
  width:50%; 
  margin: 0 auto; 
  margin-top: 20px;
}
#div1{
  height:35px;
}
span{
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  }
#btn1{
  width:30px;
  }
#td1{
  width:80%;
}
